<script defer src="../public/javascripts/traerDatos.js"></script>

<p>Press the button to see the gamers:</p>
<p><button type ="button" id ="btnCons"> Display the gamers</button></p>

<div id="container" class="container-game--input">

<div id="id"></div>
<div id="gamer1"></div>
<div id="gamer2"></div>
<div id="gamer3"></div>
</div>