doctype html 
html 
   script(defer src="/controllers/traerDatos.js")
    head 
     
        body 
            h1 Create game 
            
            form

            label(for="jugador")  jugador 1        
            input(type="text" id="jugador1")
            br

            label(for="jugador")  jugador 2        
            input(type="text" id="jugador2")
            br
            label(for="jugador")  jugador 3       
            input(type="text" id="jugador3")
            br

            button(type="button" id="btnGame" ) Press to start de game

            br
            br

            div(id="id")
            div(id="name")

